.raceInfo td, .raceInfo th {
    width: 6cm;
}

.tfoot {
    overflow: hidden;
    page-break-inside: avoid;
}

.footStyle {
    padding-bottom: 10cm;
    margin-bottom: 10cm;
}

.compInfo th {
    width: 6cm;
    vertical-align: bottom;
    font-size: 16px;
}

.raceInfo table, .raceInfo tr {
    background-color: #f2f2f2;
    text-align: center;
    width: 18cm;
    font-size: 15px;
}

.raceHeaders {
    font-size: 15px;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.rText {
    border-collapse: collapse;
}

.rText tr td {
    page-break-inside: avoid;
}

.rText th {
    text-align: center;
    vertical-align: center;
    font-size: 13px;
}

.rText td {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.rTextTbl tr td {
    page-break-inside: avoid;
    border-style: 1px solid black;
}

.rTextTbl {
    border-style: 1px solid black;
}

.postInfo {
    font-size: 12px;
    text-align: left;
}

.compInfo {
    width: 100%;
    text-align: left;
}

.compLogo {
    display: block;
    margin: 0 auto;
}

.compNameDates {
    display: flex;
    justify-content: space-between;
}

.compName {
    flex: 1;
}

.compDates {
    flex: 1;
    text-align: right;
}

* {
    font-family: Calibri, sans-serif;
}

@page {
    page: A4 portrait;
    margin: 0mm;
}

@media print {
    thead { 
        display: table-header-group; 
    }
    tfoot { 
        display: table-footer-group; 
    }
    footer {
        page-break-after: always;
    }
    .postInfo {
        /* position: relative; */
        bottom: 5cm;
        width: 100%;
    }
    .postImg {
        /* position: fixed; */
        bottom: 0;
        width: 100%;
    }
}
