body {
    font-family: 'Exo 2' !important;

}

.tabletest {
    border-color: #FF0000;
}

table {
    width: 100% !important;
    font-size: small !important;
}

table tr th  {
    text-align: left !important;
}

table.dataTable thead .sorting {
     background-image: none !important;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-image: none !important;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer .container .row .col {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #aaa;
}

footer .container .row .col p {
    font-size: x-small;
    margin-top: 20px;
}

footer img {
    width: 100px;
}

table a {
    color: #0967ac !important;
}

.navbar-brand span {
    color: #0967ac !important;
    font-family: 'Maven Pro';
    font-weight: bold;
    vertical-align: middle;
    font-size: small;
    display: inline-block;
    line-height: 1.2;
    padding-right: 20px;
    border-right: 1px solid #c1c1c1;
}

.navbar-brand img {
    height: 30px;

    display: inline-block;
    margin-right: 9px;
}

.hvr-bubble-float-left:before {
    display: none !important;
}

.navbar {
    box-shadow: 0px 0px 10px #bbb;
    position: fixed !important;
    width: 100%;
    z-index: 2;
}

.main-content {
    padding-top: 100px;
}

.btn-group .btn {
    border-left: 1px solid #555;
}


/* @media (prefers-color-scheme: dark) {
    body { background-color: #0f1216 !important; color: #b3c3d2 !important; }
    div.bg-light, nav.bg-light, .competition-table-header, .entry-meta { background-color: #1b2126 !important; }
    .navbar-light .navbar-nav .nav-link { color: #fff !important; }
    .navbar-light .navbar-nav .active .nav-link { color: #66686e !important; font-weight: bold !important; }
    .navbar-brand span { color: #73b2e1 !important; }
    a.nav-link, a { color: #73b2e1 !important; }
    .navbar { box-shadow: 0px 0px 10px #000 !important }
    .btn-primary { background-color: #112437 !important; border-color: #2e5075 !important;  }
    .btn-secondary { background-color: #111417 !important; border-color: #3b5871 !important; }
    .btn-success { background-color: #13461f !important; color: #77c587 !important; }
    .btn-primary:hover, .btn-secondary:hover, .btn-success:hover { background-color: #104475 !important; border-color: #2e5075 !important;  }
    hr { border-top: 1px solid rgb(255 255 255 / 10%) !important }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #9fc1e4 !important }
    .card { background-color: #1b2126 !important; }

    .alert-danger { background-color: #2f2022 !important; border-color: #942D39 !important; color: #ffb9c0 !important; }
    .alert-secondary { background-color: #071f34 !important; border-color: #2e5075 !important; color: #fff !important; }

    .table-bordered th, .table-bordered td { border: 1px solid #243342 !important; }
    .table th, .table td { border-top: 1px solid #3a5066 !important; }
    .table thead th {    border-bottom: 2px solid #3d77b2 !important; background-color: rgb(17, 22, 33); }
    .table tfoot tr th { background-color: #111a27 !important }
    .competition-number { background-color: #13141d !important }
    .rower-licence { background-color: #142c48 !important; }
    .r-index {     background-color: #000 !important; border: 1px solid #666; color: #f7e8e8 !important; padding-top: 1px !important }

    .form-control, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single { background-color: #1b2126 !important; color: #bbc6d1 !important;  }

    .select2-container--default .select2-selection--single .select2-selection__rendered { color: #bbc6d1 !important;  }
    .select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #112437 !important; border-color: #2e5075 !important; }
    .select2-dropdown { background-color: #1b2126 !important; }
    .select2-search__field { color: #fff; }
    table.dataTable tbody tr { background-color: #0a0b0f !important }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color: #aaa !important; background: #1b253b !important; }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { color: #aaa !important;}
    footer .container .row .col {     border-top: 1px solid #353f59; opacity: 0.3; }
    .modal-content { background-color: #1a1e21 !important; }
    .entry-balance-details td { background-color: #142538 !important;  border-bottom: 2px solid #518ecf !important; }
} */